In [1]:
%matplotlib inline

import pandas as pd
import tensorflow as tf
import numpy as np
import tflearn as tflearn
from clean_data import clean_data

hdf5 is not supported on this machine (please install/reinstall h5py for optimal experience)

In [2]:
df = pd.read_csv('../train.csv')
labels = pd.get_dummies(df.Survived)
df = df.drop('Survived', 1)

In [3]:
test = pd.read_csv('../test.csv')
clean_data(df)
clean_data(test)

     Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0         3    1  34.50000      0      0    7.8292         3
1         3    2  47.00000      1      0    7.0000         1
2         2    1  62.00000      0      0    9.6875         3
3         3    1  27.00000      0      0    8.6625         1
4         3    2  22.00000      1      1   12.2875         1
5         3    1  14.00000      0      0    9.2250         1
6         3    2  30.00000      0      0    7.6292         3
7         2    1  26.00000      1      1   29.0000         1
8         3    2  18.00000      0      0    7.2292         2
9         3    1  21.00000      2      0   24.1500         1
10        3    1  30.27259      0      0    7.8958         1
11        1    1  46.00000      0      0   26.0000         1
12        1    2  23.00000      1      0   82.2667         1
13        2    1  63.00000      1      0   26.0000         1
14        1    2  47.00000      1      0   61.1750         1
15        2    2  24.00000      1      0   27.7208         2
16        2    1  35.00000      0      0   12.3500         3
17        3    1  21.00000      0      0    7.2250         2
18        3    2  27.00000      1      0    7.9250         1
19        3    2  45.00000      0      0    7.2250         2
20        1    1  55.00000      1      0   59.4000         2
21        3    1   9.00000      0      1    3.1708         1
22        1    2  30.27259      0      0   31.6833         1
23        1    1  21.00000      0      1   61.3792         2
24        1    2  48.00000      1      3  262.3750         2
25        3    1  50.00000      1      0   14.5000         1
26        1    2  22.00000      0      1   61.9792         2
27        3    1  22.50000      0      0    7.2250         2
28        1    1  41.00000      0      0   30.5000         1
29        3    1  30.27259      2      0   21.6792         2
..      ...  ...       ...    ...    ...       ...       ...
388       3    1  21.00000      0      0    7.7500         3
389       3    1   6.00000      3      1   21.0750         1
390       1    1  23.00000      0      0   93.5000         1
391       1    2  51.00000      0      1   39.4000         1
392       3    1  13.00000      0      2   20.2500         1
393       2    1  47.00000      0      0   10.5000         1
394       3    1  29.00000      3      1   22.0250         1
395       1    2  18.00000      1      0   60.0000         1
396       3    1  24.00000      0      0    7.2500         3
397       1    2  48.00000      1      1   79.2000         2
398       3    1  22.00000      0      0    7.7750         1
399       3    1  31.00000      0      0    7.7333         3
400       1    2  30.00000      0      0  164.8667         1
401       2    1  38.00000      1      0   21.0000         1
402       1    2  22.00000      0      1   59.4000         2
403       1    1  17.00000      0      0   47.1000         1
404       1    1  43.00000      1      0   27.7208         2
405       2    1  20.00000      0      0   13.8625         2
406       2    1  23.00000      1      0   10.5000         1
407       1    1  50.00000      1      1  211.5000         2
408       3    2  30.27259      0      0    7.7208         3
409       3    2   3.00000      1      1   13.7750         1
410       3    2  30.27259      0      0    7.7500         3
411       1    2  37.00000      1      0   90.0000         3
412       3    2  28.00000      0      0    7.7750         1
413       3    1  30.27259      0      0    8.0500         1
414       1    2  39.00000      0      0  108.9000         2
415       3    1  38.50000      0      0    7.2500         1
416       3    1  30.27259      0      0    8.0500         1
417       3    1  30.27259      1      1   22.3583         2

[418 rows x 7 columns]

In [4]:
test = np.array(test, dtype=np.float32)
labels = np.array(labels, dtype=np.float32)
df = np.array(df, dtype=np.float32)

In [5]:
data = df
net = tflearn.input_data(shape=[None, 7]) 
net = tflearn.fully_connected(net, 32) 
net = tflearn.fully_connected(net, 32) 
net = tflearn.fully_connected(net, 2, activation='softmax') 
net = tflearn.regression(net)
model = tflearn.DNN(net)
model.fit(data, labels, n_epoch=10, batch_size=16, show_metric=True)

Training Step: 559  | total loss: 0.50758 | time: 0.154s
| Adam | epoch: 010 | loss: 0.50758 - acc: 0.7944 -- iter: 880/891
Training Step: 560  | total loss: 0.49367 | time: 0.157s
| Adam | epoch: 010 | loss: 0.49367 - acc: 0.7837 -- iter: 891/891
--

In [12]:
dicaprio = [3, 1, 19, 0, 0, 5.0000, 1] 
winslet = [1, 2, 17, 1, 2, 100, 3]
pred = model.predict([dicaprio, winslet])
print("DiCaprio Surviving Rate:", pred[0][1])
print("Winslet Surviving Rate:", pred[1][1])
pred

DiCaprio Surviving Rate: 0.200057
Winslet Surviving Rate: 0.996704

array([[ 0.79994345,  0.20005652],
       [ 0.00329648,  0.99670357]], dtype=float32)