In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
from clean_data import clean_data

In [2]:
df = pd.read_csv('../train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
clean_data(df)
df.reset_index(drop=True)
df

     Survived  Pclass  Sex        Age  SibSp  Parch      Fare  Embarked
0           0       3    1  22.000000      1      0    7.2500         1
1           1       1    2  38.000000      1      0   71.2833         2
2           1       3    2  26.000000      0      0    7.9250         1
3           1       1    2  35.000000      1      0   53.1000         1
4           0       3    1  35.000000      0      0    8.0500         1
5           0       3    1  29.699118      0      0    8.4583         3
6           0       1    1  54.000000      0      0   51.8625         1
7           0       3    1   2.000000      3      1   21.0750         1
8           1       3    2  27.000000      0      2   11.1333         1
9           1       2    2  14.000000      1      0   30.0708         2
10          1       3    2   4.000000      1      1   16.7000         1
11          1       1    2  58.000000      0      0   26.5500         1
12          0       3    1  20.000000      0      0    8.0500         1
13          0       3    1  39.000000      1      5   31.2750         1
14          0       3    2  14.000000      0      0    7.8542         1
15          1       2    2  55.000000      0      0   16.0000         1
16          0       3    1   2.000000      4      1   29.1250         3
17          1       2    1  29.699118      0      0   13.0000         1
18          0       3    2  31.000000      1      0   18.0000         1
19          1       3    2  29.699118      0      0    7.2250         2
20          0       2    1  35.000000      0      0   26.0000         1
21          1       2    1  34.000000      0      0   13.0000         1
22          1       3    2  15.000000      0      0    8.0292         3
23          1       1    1  28.000000      0      0   35.5000         1
24          0       3    2   8.000000      3      1   21.0750         1
25          1       3    2  38.000000      1      5   31.3875         1
26          0       3    1  29.699118      0      0    7.2250         2
27          0       1    1  19.000000      3      2  263.0000         1
28          1       3    2  29.699118      0      0    7.8792         3
29          0       3    1  29.699118      0      0    7.8958         1
..        ...     ...  ...        ...    ...    ...       ...       ...
861         0       2    1  21.000000      1      0   11.5000         1
862         1       1    2  48.000000      0      0   25.9292         1
863         0       3    2  29.699118      8      2   69.5500         1
864         0       2    1  24.000000      0      0   13.0000         1
865         1       2    2  42.000000      0      0   13.0000         1
866         1       2    2  27.000000      1      0   13.8583         2
867         0       1    1  31.000000      0      0   50.4958         1
868         0       3    1  29.699118      0      0    9.5000         1
869         1       3    1   4.000000      1      1   11.1333         1
870         0       3    1  26.000000      0      0    7.8958         1
871         1       1    2  47.000000      1      1   52.5542         1
872         0       1    1  33.000000      0      0    5.0000         1
873         0       3    1  47.000000      0      0    9.0000         1
874         1       2    2  28.000000      1      0   24.0000         2
875         1       3    2  15.000000      0      0    7.2250         2
876         0       3    1  20.000000      0      0    9.8458         1
877         0       3    1  19.000000      0      0    7.8958         1
878         0       3    1  29.699118      0      0    7.8958         1
879         1       1    2  56.000000      0      1   83.1583         2
880         1       2    2  25.000000      0      1   26.0000         1
881         0       3    1  33.000000      0      0    7.8958         1
882         0       3    2  22.000000      0      0   10.5167         1
883         0       2    1  28.000000      0      0   10.5000         1
884         0       3    1  25.000000      0      0    7.0500         1
885         0       3    2  39.000000      0      5   29.1250         3
886         0       2    1  27.000000      0      0   13.0000         1
887         1       1    2  19.000000      0      0   30.0000         1
888         0       3    2  29.699118      1      2   23.4500         1
889         1       1    1  26.000000      0      0   30.0000         2
890         0       3    1  32.000000      0      0    7.7500         3

[891 rows x 8 columns]