In [1]:
%matplotlib inline

import pandas as pd
import tensorflow as tf
import numpy as np
import tflearn as tflearn

hdf5 is not supported on this machine (please install/reinstall h5py for optimal experience)

In [2]:
df = pd.read_csv('../train.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.isnull().values.any()

True

In [5]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
df["Age"].fillna(df["Age"].mean(), inplace=True)

In [7]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
df = df.drop(df.columns[[0, 1, 3, 8, 10]], axis=1)

In [10]:
df.replace(['male', 'female'], [1, 2], inplace=True)
df

     Pclass  Sex        Age  SibSp  Parch      Fare Embarked
0         3    1  22.000000      1      0    7.2500        S
1         1    2  38.000000      1      0   71.2833        C
2         3    2  26.000000      0      0    7.9250        S
3         1    2  35.000000      1      0   53.1000        S
4         3    1  35.000000      0      0    8.0500        S
5         3    1  29.699118      0      0    8.4583        Q
6         1    1  54.000000      0      0   51.8625        S
7         3    1   2.000000      3      1   21.0750        S
8         3    2  27.000000      0      2   11.1333        S
9         2    2  14.000000      1      0   30.0708        C
10        3    2   4.000000      1      1   16.7000        S
11        1    2  58.000000      0      0   26.5500        S
12        3    1  20.000000      0      0    8.0500        S
13        3    1  39.000000      1      5   31.2750        S
14        3    2  14.000000      0      0    7.8542        S
15        2    2  55.000000      0      0   16.0000        S
16        3    1   2.000000      4      1   29.1250        Q
17        2    1  29.699118      0      0   13.0000        S
18        3    2  31.000000      1      0   18.0000        S
19        3    2  29.699118      0      0    7.2250        C
20        2    1  35.000000      0      0   26.0000        S
21        2    1  34.000000      0      0   13.0000        S
22        3    2  15.000000      0      0    8.0292        Q
23        1    1  28.000000      0      0   35.5000        S
24        3    2   8.000000      3      1   21.0750        S
25        3    2  38.000000      1      5   31.3875        S
26        3    1  29.699118      0      0    7.2250        C
27        1    1  19.000000      3      2  263.0000        S
28        3    2  29.699118      0      0    7.8792        Q
29        3    1  29.699118      0      0    7.8958        S
..      ...  ...        ...    ...    ...       ...      ...
861       2    1  21.000000      1      0   11.5000        S
862       1    2  48.000000      0      0   25.9292        S
863       3    2  29.699118      8      2   69.5500        S
864       2    1  24.000000      0      0   13.0000        S
865       2    2  42.000000      0      0   13.0000        S
866       2    2  27.000000      1      0   13.8583        C
867       1    1  31.000000      0      0   50.4958        S
868       3    1  29.699118      0      0    9.5000        S
869       3    1   4.000000      1      1   11.1333        S
870       3    1  26.000000      0      0    7.8958        S
871       1    2  47.000000      1      1   52.5542        S
872       1    1  33.000000      0      0    5.0000        S
873       3    1  47.000000      0      0    9.0000        S
874       2    2  28.000000      1      0   24.0000        C
875       3    2  15.000000      0      0    7.2250        C
876       3    1  20.000000      0      0    9.8458        S
877       3    1  19.000000      0      0    7.8958        S
878       3    1  29.699118      0      0    7.8958        S
879       1    2  56.000000      0      1   83.1583        C
880       2    2  25.000000      0      1   26.0000        S
881       3    1  33.000000      0      0    7.8958        S
882       3    2  22.000000      0      0   10.5167        S
883       2    1  28.000000      0      0   10.5000        S
884       3    1  25.000000      0      0    7.0500        S
885       3    2  39.000000      0      5   29.1250        Q
886       2    1  27.000000      0      0   13.0000        S
887       1    2  19.000000      0      0   30.0000        S
888       3    2  29.699118      1      2   23.4500        S
889       1    1  26.000000      0      0   30.0000        C
890       3    1  32.000000      0      0    7.7500        Q

[891 rows x 7 columns]

In [11]:
df.replace(['S', 'C', 'Q', np.nan], [1, 2, 3, 0], inplace=True)
df['Embarked'].unique()

array([1, 2, 3, 0])

In [12]:
df.isnull().values.any()

False

In [13]:
df.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64