In [1]:
%matplotlib inline

import pandas as pd
import tensorflow as tf
import numpy as np
import tflearn as tflearn
from clean_data import clean_data

hdf5 is not supported on this machine (please install/reinstall h5py for optimal experience)

In [2]:
df = pd.read_csv('../train.csv')
labels = pd.get_dummies(df.Survived)
df = df.drop('Survived', 1)
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test = pd.read_csv('../test.csv')
df = clean_data(df)
test = clean_data(test)
df

array([[ 22.        ,   1.        ,   0.        , ...,   1.        ,
          0.        ,   1.        ],
       [ 38.        ,   1.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [ 26.        ,   0.        ,   0.        , ...,   1.        ,
          0.        ,   1.        ],
       ...,
       [ 29.69911766,   1.        ,   2.        , ...,   1.        ,
          0.        ,   1.        ],
       [ 26.        ,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [ 32.        ,   0.        ,   0.        , ...,   0.        ,
          0.        ,   1.        ]], dtype=float32)

In [4]:
labels = np.array(labels, dtype=np.float32)

In [5]:
data = df
net = tflearn.input_data(shape=[None, 9]) 
net = tflearn.fully_connected(net, 7)
net = tflearn.fully_connected(net, 7)
net = tflearn.fully_connected(net, 7)
net = tflearn.fully_connected(net, 2, activation='softmax') 
net = tflearn.regression(net)
model = tflearn.DNN(net)
model.fit(data, labels, n_epoch=20, batch_size=16, show_metric=True)

Training Step: 1119  | total loss: 0.50715 | time: 0.156s
| Adam | epoch: 020 | loss: 0.50715 - acc: 0.7962 -- iter: 880/891
Training Step: 1120  | total loss: 0.48955 | time: 0.159s
| Adam | epoch: 020 | loss: 0.48955 - acc: 0.8103 -- iter: 891/891
--

In [6]:
pred = model.predict(test)
pred = pd.DataFrame(pred)
pred = pred.drop(0, 1)

In [16]:
end = pd.read_csv('../test.csv')
end['Survival_chance'] = pred
state = []
for i in end['Survival_chance']:
    if i > 0.5:
        state.append('Alive')
    else:
        state.append('Dead')
state
end['State'] = state

In [17]:
end.head(100)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survival_chance,State
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0.159984,Dead
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0.357095,Dead
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0.281965,Dead
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0.107522,Dead
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,0.465249,Dead
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S,0.129659,Dead
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q,0.656564,Alive
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S,0.242527,Dead
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C,0.610833,Alive
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S,0.067603,Dead
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S,0.101963,Dead
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S,0.168211,Dead
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S,0.760774,Alive
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S,0.147120,Dead
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S,0.640444,Alive
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C,0.788697,Alive
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q,0.382306,Dead
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C,0.137814,Dead
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S,0.435170,Dead
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C,0.505182,Alive
20,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C,0.167607,Dead
21,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S,0.132401,Dead
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S,0.719481,Alive
23,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C,0.339085,Dead
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C,0.933892,Alive
25,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S,0.057208,Dead
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C,0.826192,Alive
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C,0.134999,Dead
28,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S,0.185940,Dead
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C,0.069506,Dead
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,962,3,"Mulvihill, Miss. Bertha E",female,24.0,0,0,382653,7.7500,NaN,Q,0.678026,Alive
71,963,3,"Minkoff, Mr. Lazar",male,21.0,0,0,349211,7.8958,NaN,S,0.116304,Dead
72,964,3,"Nieminen, Miss. Manta Josefina",female,29.0,0,0,3101297,7.9250,NaN,S,0.520365,Alive
73,965,1,"Ovies y Rodriguez, Mr. Servando",male,28.5,0,0,PC 17562,27.7208,D43,C,0.249196,Dead
74,966,1,"Geiger, Miss. Amalie",female,35.0,0,0,113503,211.5000,C130,C,0.939908,Alive
75,967,1,"Keeping, Mr. Edwin",male,32.5,0,0,113503,211.5000,C132,C,0.634869,Alive
76,968,3,"Miles, Mr. Frank",male,NaN,0,0,359306,8.0500,NaN,S,0.102095,Dead
77,969,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L...",female,55.0,2,0,11770,25.7000,C101,S,0.436287,Dead
78,970,2,"Aldworth, Mr. Charles Augustus",male,30.0,0,0,248744,13.0000,NaN,S,0.273038,Dead
79,971,3,"Doyle, Miss. Elizabeth",female,24.0,0,0,368702,7.7500,NaN,Q,0.678026,Alive
80,972,3,"Boulos, Master. Akar",male,6.0,1,1,2678,15.2458,NaN,C,0.130943,Dead
81,973,1,"Straus, Mr. Isidor",male,67.0,1,0,PC 17483,221.7792,C55 C57,S,0.383453,Dead
82,974,1,"Case, Mr. Howard Brown",male,49.0,0,0,19924,26.0000,NaN,S,0.161631,Dead
83,975,3,"Demetri, Mr. Marinko",male,NaN,0,0,349238,7.8958,NaN,S,0.101963,Dead
84,976,2,"Lamb, Mr. John Joseph",male,NaN,0,0,240261,10.7083,NaN,Q,0.396555,Dead
85,977,3,"Khalil, Mr. Betros",male,NaN,1,0,2660,14.4542,NaN,C,0.092142,Dead
86,978,3,"Barry, Miss. Julia",female,27.0,0,0,330844,7.8792,NaN,Q,0.667776,Alive
87,979,3,"Badman, Miss. Emily Louisa",female,18.0,0,0,A/4 31416,8.0500,NaN,S,0.564115,Alive
88,980,3,"O'Donoghue, Ms. Bridget",female,NaN,0,0,364856,7.7500,NaN,Q,0.655840,Alive
89,981,2,"Wells, Master. Ralph Lester",male,2.0,1,1,29103,23.0000,NaN,S,0.307303,Dead
90,982,3,"Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi...",female,22.0,1,0,347072,13.9000,NaN,S,0.468732,Dead
91,983,3,"Pedersen, Mr. Olaf",male,NaN,0,0,345498,7.7750,NaN,S,0.101860,Dead
92,984,1,"Davidson, Mrs. Thornton (Orian Hays)",female,27.0,1,2,F.C. 12750,52.0000,B71,S,0.692575,Alive
93,985,3,"Guest, Mr. Robert",male,NaN,0,0,376563,8.0500,NaN,S,0.102095,Dead
94,986,1,"Birnbaum, Mr. Jakob",male,25.0,0,0,13905,26.0000,NaN,C,0.256687,Dead
95,987,3,"Tenglin, Mr. Gunnar Isidor",male,25.0,0,0,350033,7.7958,NaN,S,0.109822,Dead
96,988,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0,1,0,19877,78.8500,C46,S,0.569740,Alive
97,989,3,"Makinen, Mr. Kalle Edvard",male,29.0,0,0,STON/O 2. 3101268,7.9250,NaN,S,0.103859,Dead
98,990,3,"Braf, Miss. Elin Ester Maria",female,20.0,0,0,347471,7.8542,NaN,S,0.555814,Alive
99,991,3,"Nancarrow, Mr. William Henry",male,33.0,0,0,A./5. 3338,8.0500,NaN,S,0.098181,Dead