In [1]:
%matplotlib inline

import pandas as pd
import tensorflow as tf
import numpy as np
import tflearn as tflearn
from clean_data import clean_data

hdf5 is not supported on this machine (please install/reinstall h5py for optimal experience)

In [2]:
df = pd.read_csv('../train.csv')
labels = pd.get_dummies(df.Survived)
df = df.drop('Survived', 1)
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test = pd.read_csv('../test.csv')
df = clean_data(df)
test = clean_data(test)
df

array([[ 22.        ,   1.        ,   0.        , ...,   1.        ,
          0.        ,   1.        ],
       [ 38.        ,   1.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [ 26.        ,   0.        ,   0.        , ...,   1.        ,
          0.        ,   1.        ],
       ...,
       [ 29.69911766,   1.        ,   2.        , ...,   1.        ,
          0.        ,   1.        ],
       [ 26.        ,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [ 32.        ,   0.        ,   0.        , ...,   0.        ,
          0.        ,   1.        ]], dtype=float32)

In [4]:
labels = np.array(labels, dtype=np.float32)

In [5]:
data = df
net = tflearn.input_data(shape=[None, 9]) 
net = tflearn.fully_connected(net, 81)
net = tflearn.fully_connected(net, 9)
net = tflearn.fully_connected(net, 2, activation='softmax') 
net = tflearn.regression(net)
model = tflearn.DNN(net)
model.fit(data, labels, n_epoch=10, batch_size=16, show_metric=True)

Training Step: 559  | total loss: 0.47815 | time: 0.160s
| Adam | epoch: 010 | loss: 0.47815 - acc: 0.7826 -- iter: 880/891
Training Step: 560  | total loss: 0.48842 | time: 0.163s
| Adam | epoch: 010 | loss: 0.48842 - acc: 0.7794 -- iter: 891/891
--

In [6]:
#dicaprio = [3, 1, 19, 0, 0, 5.0000, 1] 
#winslet = [1, 2, 17, 1, 2, 100, 3]
#pred = model.predict([dicaprio, winslet])
#print("DiCaprio Surviving Rate:", pred[0][1])
#print("Winslet Surviving Rate:", pred[1][1])
#pred