In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
from clean_data import clean_data

In [2]:
df = pd.read_csv('../train.csv')
clean_data(df)
df

     Survived  Pclass  Sex        Age  SibSp  Parch      Fare  Embarked
0           0       3    1  22.000000      1      0    7.2500         1
1           1       1    2  38.000000      1      0   71.2833         2
2           1       3    2  26.000000      0      0    7.9250         1
3           1       1    2  35.000000      1      0   53.1000         1
4           0       3    1  35.000000      0      0    8.0500         1
5           0       3    1  29.699118      0      0    8.4583         3
6           0       1    1  54.000000      0      0   51.8625         1
7           0       3    1   2.000000      3      1   21.0750         1
8           1       3    2  27.000000      0      2   11.1333         1
9           1       2    2  14.000000      1      0   30.0708         2
10          1       3    2   4.000000      1      1   16.7000         1
11          1       1    2  58.000000      0      0   26.5500         1
12          0       3    1  20.000000      0      0    8.0500         1
13          0       3    1  39.000000      1      5   31.2750         1
14          0       3    2  14.000000      0      0    7.8542         1
15          1       2    2  55.000000      0      0   16.0000         1
16          0       3    1   2.000000      4      1   29.1250         3
17          1       2    1  29.699118      0      0   13.0000         1
18          0       3    2  31.000000      1      0   18.0000         1
19          1       3    2  29.699118      0      0    7.2250         2
20          0       2    1  35.000000      0      0   26.0000         1
21          1       2    1  34.000000      0      0   13.0000         1
22          1       3    2  15.000000      0      0    8.0292         3
23          1       1    1  28.000000      0      0   35.5000         1
24          0       3    2   8.000000      3      1   21.0750         1
25          1       3    2  38.000000      1      5   31.3875         1
26          0       3    1  29.699118      0      0    7.2250         2
27          0       1    1  19.000000      3      2  263.0000         1
28          1       3    2  29.699118      0      0    7.8792         3
29          0       3    1  29.699118      0      0    7.8958         1
..        ...     ...  ...        ...    ...    ...       ...       ...
861         0       2    1  21.000000      1      0   11.5000         1
862         1       1    2  48.000000      0      0   25.9292         1
863         0       3    2  29.699118      8      2   69.5500         1
864         0       2    1  24.000000      0      0   13.0000         1
865         1       2    2  42.000000      0      0   13.0000         1
866         1       2    2  27.000000      1      0   13.8583         2
867         0       1    1  31.000000      0      0   50.4958         1
868         0       3    1  29.699118      0      0    9.5000         1
869         1       3    1   4.000000      1      1   11.1333         1
870         0       3    1  26.000000      0      0    7.8958         1
871         1       1    2  47.000000      1      1   52.5542         1
872         0       1    1  33.000000      0      0    5.0000         1
873         0       3    1  47.000000      0      0    9.0000         1
874         1       2    2  28.000000      1      0   24.0000         2
875         1       3    2  15.000000      0      0    7.2250         2
876         0       3    1  20.000000      0      0    9.8458         1
877         0       3    1  19.000000      0      0    7.8958         1
878         0       3    1  29.699118      0      0    7.8958         1
879         1       1    2  56.000000      0      1   83.1583         2
880         1       2    2  25.000000      0      1   26.0000         1
881         0       3    1  33.000000      0      0    7.8958         1
882         0       3    2  22.000000      0      0   10.5167         1
883         0       2    1  28.000000      0      0   10.5000         1
884         0       3    1  25.000000      0      0    7.0500         1
885         0       3    2  39.000000      0      5   29.1250         3
886         0       2    1  27.000000      0      0   13.0000         1
887         1       1    2  19.000000      0      0   30.0000         1
888         0       3    2  29.699118      1      2   23.4500         1
889         1       1    1  26.000000      0      0   30.0000         2
890         0       3    1  32.000000      0      0    7.7500         3

[891 rows x 8 columns]